body {
  font-family: 'Quicksand', sans-serif;
  padding: 2em 2em;
}

button {
  margin: 0.8em 1.5em 1em 0em;
  background-color: #EDEDED !important;
  color: black !important;
  border-style: none !important;
}


.headline {
  font-family: 'Fredericka the Great', cursive;
  font-size: 3em;
}

.color-row {
  margin-left: 2em;
}

.color-field {

}

#copyright {
  font-size: 0.7em;
  padding-top: 1.5em;
}

@media (max-width: 600px) {
  .headline {
    font-size: 2em;
  }
