{% extends 'bootstrap/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="headline">ColorPaletteGenerator</div>
                <p>Upload your own picture to generate a color palette!</p>
                <form method="post" enctype="multipart/form-data">
                    <div class="file btn btn-sm btn-primary button">
                        <input type="file" name="file">
                    </div>
                    <button type="submit" class="button btn btn-sm btn-primary">Get Palette</button>
                </form>
                <img src="{{ img }}" class="rounded mx-auto d-block img-fluid" alt="placeholder-image">
                <p id="copyright">© designed and coded by Felix Schwebel, example-image: Steve Johnson, unsplash.com</p>
            </div>

            <div class="col-lg-4">
                <div class="container">
                    {% for color_pair in colors %}
                        <div class="row color-row">
                            <div class="col-6">
                                <div class="box img-fluid rounded" style="background-color:{{ color_pair[0] }};"></div>
                                <p>{{ color_pair[0] }}</p>
                            </div>
                            <div class="col-6">
                                <div class="box img-fluid rounded" style="background-color:{{ color_pair[1] }};"></div>
                                <p>{{ color_pair[1] }}</p>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>

{% endblock %}
